site_name: soundevent
site_url: https://mbsantiago.github.io/soundevent/
nav:
  - Home: README.md
  - Introduction: introduction.md
  - Data Schemas:
      - data_schemas/index.md
      - Descriptors: data_schemas/descriptors.md
      - Audio Content: data_schemas/audio_content.md
      - Acoustic Objects: data_schemas/acoustic_objects.md
      - Annotation: data_schemas/annotation.md
      - Prediction: data_schemas/prediction.md
      - Evaluation: data_schemas/evaluation.md
  - User Guide: generated/gallery
  - Reference:
      - data: reference/data.md
      - operations: reference/operations.md
      - io: reference/io.md
      - arrays: reference/arrays.md
      - audio: reference/audio.md
      - geometry: reference/geometry.md
      - evaluation: reference/evaluation.md
      - plot: reference/plot.md
      - terms: reference/terms.md
  - Contributing: CONTRIBUTING.md
  - Code of Conduct: CODE_OF_CONDUCT.md
theme:
  name: material
  features:
    - content.code.copy
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - toc.follow
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - search
  - gallery:
      examples_dirs: docs/user_guide # path to your example scripts
      gallery_dirs: docs/generated/gallery # where to save generated gallery
      backreferences_dir: docs/generated/backreferences # where to generate the back references summary
      doc_module: ["mkdocs_gallery", "numpy"]
      image_scrapers: matplotlib
      compress_images: ["images", "thumbnails"]
      within_subsection_order: FileNameSortKey
      filename_pattern: ""
      show_memory: True
      capture_repr: ["_repr_html_", "__repr__"]
      matplotlib_animations: True
      image_srcset: ["2x"]
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: ["src"]
          import:
            - https://docs.python.org/3.11/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv
            - https://docs.xarray.dev/en/stable/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://docs.scipy.org/doc/scipy/objects.inv
            - https://shapely.readthedocs.io/en/stable/objects.inv
          options:
            show_source: false
            show_root_toc_entry: true
            show_symbol_type_toc: true
            show_root_heading: true
            show_category_heading: true
            show_symbol_type_heading: true
            show_if_no_docstring: true
            docstring_style: "numpy"
            docstring_section_style: "table"
            summary: true
            signature_crossrefs: true
            show_signature_annotations: false
            filters:
              - "!^_"
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
watch:
  - docs
  - src
markdown_extensions:
  - abbr
  - attr_list
  - def_list
  - footnotes
  - admonition
  - tables
  - pymdownx.critic
  - pymdownx.keys
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - toc:
      toc_depth: 4
      permalink: "#"
      separator: "_"
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  # - javascripts/jquery-3.3.1.min.js
  # - javascripts/jquery.json-viewer.js
  # - javascripts/json-viewer.js
  # - optionalConfig.js
  # - https://unpkg.com/mermaid@9.4.0/dist/mermaid.min.js
  # - extra-loader.js
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
extra_css:
  - stylesheets/jquery.json-viewer.css
  - css/mkdocstrings.css
  - https://unpkg.com/katex@0/dist/katex.min.css
